distribution/
Libraries/
Logs/
Scripts/
Files/
*.ex4
*.dat
Experts/*.mq4
Indicators/*.mq4
Indicators/Examples/
Include/Arrays/
Include/Canvas/
Include/ChartObjects/
Include/Charts/
Include/Controls/
Include/Indicators/
Include/Strings/
Include/Tools/
Include/*.mqh
!Experts/EA Start Code.mq4
!Experts/NTI_RunTests.mq4
!Experts/OrderReliable_2011.01.07.mqh
!Experts/PATITradingAssistant.mq4
!Experts/PTA_RunTests.mqh
!Experts/RunTests.mq4
!Experts/TradingAssistant.mq4
!Include/Assert.mqh
!Include/Broker.mqh
!Include/FakeBroker.mqh
!Include/NewTrade.mqh
!Include/OldTrade.mqh
!Include/OrderReliable_2011.01.07.mqh
!Include/Position.mqh
!Include/StdLibErr.mqh
!Include/stdlib.mqh
!Indicators/NTI_RunTests.mqh
!Indicators/NewTradeIndicator.mq4
